apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "crypto-advisor.fullname" . }}
  labels:
    app: {{ include "crypto-advisor.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "crypto-advisor.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "crypto-advisor.name" . }}
    spec:
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: {{ .Values.env.SPRING_PROFILES_ACTIVE | quote }}
